<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="add()">
    <ion-textarea  formControlName="mensagem" placeholder="Sua Mensagem"></ion-textarea>
    <button ion-button block color='danger'>Postar</button>
  </form>


    <ion-card *ngFor = "let p of posts" >

        <ion-item>
          <ion-avatar item-start>
            <img>
          </ion-avatar>
          <h2>{{p.nome}}</h2>
          <span *ngIf= "p.uid == uid" (click)= "editar(p)" style="font-size: 12px">Editar</span>
        </ion-item>
      
        <ion-card-content>
          <p>{{p.mensagem}}</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>1M likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>100k Comments</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note *ngIf="p.uid == uid" (click)="removerPost(p.id)">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>
      
      

</ion-content>
